.spshcl_content{
    position: relative;    
}
.spschl_text_line::after{
    content: "";
    background-color: #2b5876;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -20%;
    width: 100%;

}

.form_heading{
    position: relative;
    display: flex;
    justify-content: center;

}
.form_heading_line{
    width: max-content;
    padding-bottom:5px ;
    border-bottom: 4px solid #2b5876;
}
