@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
}
/* Login form */
.parentClass_form_center{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_center{
    background-color: whitesmoke !important;
    padding: 40px;
}
.login_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;

}
/* Navbar */
.nav-center{
    margin-right: auto;
    font-size: 16px;
}
.nav-center > li > a {
    color: white !important;
    font-style: bold;
    position: relative;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.nav-center > li > a.hover-en::after{
    content: "";
    background-color: white;
    position: absolute;
    height: 3px;
    width: 0px;
    left: 0;    
    bottom: -10%;
    transition: 0.3s;
}
.nav-center > li > a:hover{
    color: #F05D5E !important;
}

.nav-center > li > a.hover-en:hover::after{
    width: 100%;
}
.navbar-toggler-color{
    border-color: black !important;
}
.navbar-toggler-icon-color{
color: black !important;
}
.nav-padding{
    padding: 20px;
    
}
.nav-color{
    /* background-color: #6C82EF !important; */
    background: linear-gradient(to left, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/* Carousel */
.phone-display{
    display: none !important;
}
.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
/* About  */
.about-us{
    background-color: #DCD6F7;
    padding: 70px;
}
.about-heading{
    color: #F05D5E;
    text-align: center;
}
.about-heading::after{
    content: "";
    background: linear-gradient(to left, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    bottom: -12%;
}

.about-para{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
    padding-bottom: 20px;
    
}
.about-para::first-letter{
    font-size: 44px;
    color: #F05D5E;
}

.about-button{
    text-decoration: none;
    color: white;
    background-color: #F05D5E;
    padding: 15px;
    border-radius: 10px;
}
.about-button:hover{
    background: linear-gradient(to left, #4e4376, #2b5876);
    color: #ffffff;
}

.about-img > img{
   border-radius: 10px;
   transform-style: preserve-3d;
   perspective: 1000px;
   margin-left: -20px;

}


/* Gallery */
.gallery{
    background-color: #DCD6F7;
    max-width: 100vw;
    padding: 30px;
}

.gallery > .center{
    text-align: center;
    color:#F05D5E !important;
    font-weight: 700;
    position: relative;
}
.gallery > .center::after{
    content: "";
    background-color: #2b5876;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -20%;
    height: 3px;
}

.container-1{
    display: flex;
    width: 90vw;

}
.panel {
    background-size:  auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;

}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    color:#06070E;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
@media(max-width: 700px){
    .mobile-display{
        display:  none !important;
    }
    .phone-display{
        display: block !important;
    }
}
@media(max-width: 560px){
    .container-1{
        width: 80vh;
        display: none;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
    .about-heading{
        margin-top: 20px;
        text-align: center;
    }
    .about-para{
        margin-top: 15px;
    }
    .about-us{
        padding: 30px;
    }
    .about-img > img{
        margin: 0;
    }
}
@media (max-width: 685px){
    .container-1{
        display: none;
    }
}
@media (min-width: 686px){
    .container-2{
        display: none;
    }
}
@media (max-width: 500px){
    .about-img{
        height: 200px;
        width: 300px;
    }

}
/* Footer */
.custom-footer-bg{
    background: linear-gradient(to left, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 700;
    color: white;
}
.footer_icon_margin{
    margin: 5px !important;
}
.footer-line-bg{
    background-color: #F05D5E !important;
}
.social-icon-bg{
    background-color: #F05D5E;
}
.icon_text_color{
    background-color: #2b5876;
    padding: 17px;
    border-radius: 50%;
    color: white;
}